---
const { name, description, tags, image, main, link } = Astro.props;
---

<li class={`${main && "col-span-2"}`}>
  <a href={link} target="_blank" rel="noopener noreferrer" class="group block">
    <article
      class="flex flex-col rounded-xl overflow-hidden border border-[var(--color-gray-dark)]"
    >
      <div class="relative bg-black overflow-hidden">
        <img
          class="max-h-96 h-full w-full object-contain object-center transform transition-transform duration-500 ease-out group-hover:scale-105"
          src={image}
          alt={name}
          width="1280"
          height="640"
        />
        <div class="flex gap-2 mb-6 absolute top-4 right-4">
          {
            tags.map((tag) => (
              <span class="inline-block px-4 py-2 bg-[#222] rounded-full border border-[#333] text-[var(--color-gray-light)] text-sm leading-none">
                {tag}
              </span>
            ))
          }
        </div>
        <div
          class="absolute bottom-0 left-0 right-0 p-6 bg-gradient-to-t from-black to-transparent"
        >
          <h3 class="font-semibold tracking-tight text-2xl mb-2">{name}</h3>
          <p class="text-white/80">{description}</p>
        </div>
      </div>
    </article>
  </a>
</li>
